<div style="text-align: center;">
    <a href="https://github.com/niraj8">Github</a>
    | <a href="https://linkedin.com/in/pniraj">LinkedIn</a>
    | <a href="mailto:nirajftw+emailme@gmail.com">Email me</a>
</div>
