---
title: Niraj Palecha
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# Google Fonts #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
    <title>{{ title }}</title>
  </head>
  <body>
    <h1 style="text-align:center;font-size:3.5em;font-family: 'Roboto', sans-serif;font-style:italic !important;font-weight:100;">Niraj Palecha</h1>
    {{ content | safe }}
    {% include "nav.njk" %}
  </body>
</html>
