<nav style="text-align: center;">
    <a href="/">home</a>
    / <a href="/skills">skills</a>
    / <a href="/now">now</a>
    / <a target="_blank" href="https://drive.google.com/file/d/1qmi-oRkVwu7wrFtgDmmt509mbc8OtIdf/view?usp=sharing">resume</a>
</nav>