<nav style="text-align: center;">
    <a href="/">home</a>
    / <a href="/projects">projects</a>
    / <a href="/collected">collected</a>
    / <a href="/now">now</a>
    / <a target="_blank" href="/resume">resume</a>
</nav>